#personalButton {
    width: 20vw;
    background-color: var(--brown);
    border-color: var(--brown);
    color: var(--white);
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
}

#deleteIcon {
    color: var(--white);
    width: 15px;
}

#participantNameAndButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
    align-items: center;
    margin-right: 3vw;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3vw;
    flex-shrink: 2;
}

.nameStyle {
    font-size: 20px;
}
