#userLogin {
    padding: 15vh 3vw 5vh 3vw;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: space-evenly;
    height: 50vh;
    align-items: center;
}

#login {
    background-color: white;
    width: 50vw;
}

#checkEvents {
    background-color: var(--orange);
    height: 6vh;
    width: 78vw;
    border-radius: 10px;
    font-size: 2vh;
}

#commentText {
    font-size: 4vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
