.navigation {
    background-color: var(--brown);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    border-radius: 15px 15px 0 0;
}

.navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none;
    font-size: 3vh;
    height: 7vh;
    flex-grow: 4;
    border: 1px var(--beige) solid;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.navigation a.active {
    background-color: var(--orange);
    color: white;
}
