#getPairsButton {
    height: 15vh;
    border-radius: 15px;
    background-color: var(--brown);
}

#talk {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh 0 1vh 0;

    height: 70vh;
    justify-items: flex-start;
    gap: 2vh;
}

#pairsList {
    min-height: 63vh;
}
