h3 {
    color: var(--orange);
    text-align: center;
    margin-top: 2vh;
}

#list {
    width: 100vw;
    border: solid 1px white;
    border-top-left-radius: 40px;
    margin: 2vh 0 7vh 0;
    background-color: white;
    min-height: 30vh;
}
