#nameEditForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 2vh;
    height: 25vh;
}

label {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
}

#detailsInput {
    grid-area: 2 / 1 / 3 / 3;
    width: 50vw;
}

#saveButton {
    grid-area: 2 / 3 / 3 / 4;
    width: 30vw;
}

.errorMessage {
    grid-area: 3 / 1 / 4 / 4;
    text-align: center;
}

#goBackButton {
    grid-area: 4 / 2 / 5 / 3;
    height: 4vh;
    background-color: var(--brown);
}
