:root {
    --dark-green: #374a26;
    --brown: #a56432;
    --orange: #db862c;
    --beige: #e7d5c3;
    --yellow: #efba66;
    --white: #ffffff;
}

body {
    background-color: var(--beige);
    margin: 0;
    padding: 0;
}

h2 {
    color: var(--brown);
    text-align: center;
    margin-top: 5vh;
}

header {
    height: 15vh;
    background-color: var(--brown);
    color: var(--white);
    text-align: center;
    padding-top: 9vh;
    font-size: 4vh;
    border-bottom-right-radius: 40px;
}
