.navigation {
    background-color: var(--orange);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 2vh 1vw;
    text-decoration: none;
    font-size: 3vh;
    min-font-size: 0, 5vh;
    height: 7vh;
    flex-grow: 4;
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.navigation a.active {
    background-color: var(--brown);
    color: white;
}
